<!DOCTYPE html>
<html lang="en" dir='ltr'>
<head>
    <meta charset="UTF-8">
    <title>Alison Morgan</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../styles/projects.css">
</head>
<body>
    <div class='nav-div'>
        <header class='nav-head'>
        </header>
    </div>
    <div class='outter-box-div'>
        <ul class='nav-list'>
            <li class='nav-list-item'><a href="../index.html">Main</a></li>
            <li class='nav-list-item'><a>Resume</a></li>
        </ul>
    </div>
    <div class='inner-box-div'>
        <div class='text-div'>
            <p class='text-projects-header'>Live Projects</p>
        </div>
        <div class='project-links'>
            <a class='text-project-link' href="https://potluck-of-the-minds.herokuapp.com/">Potluck Of The Minds<br>
            <span style='size:3'>This current build is for a local event, think Lightening Talks meets potluck.<br>
                It's built with: <br>
                 <span color=black>Vanilla JS, HTML, and SCSS, the Carousel is from Bulma</span></span></a>
            <a class='text-project-link' href="https://knowthyself-mtcs.herokuapp.com/">Know Thyself<br>
            <span style='size:3'>This project moto was "simple journaling, hard prompts".<br>
            This tech stack was one of my favorites using: <br>
            <span color=black>Mongo DB, Mongoose, React, HTML, Material UI, Passport, and OAuth20</span></span></a>
        </div>
    </div>
    <div class='resume-div'>
        <p class='text-resume-link'><a class='text-resume-link' href="./resume.html">Resume</a></p>
    </div>
</body>
<script src="../index.js"></script>
</html>