<!DOCTYPE html>
<html lang="en" dir='ltr'>
<head>
    <meta charset="UTF-8">
    <title>Alison Morgan</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../styles/resume.css">
</head>
<body>
    <div class='nav-div'>
        <header class='nav-head'>
        </header>
    </div>
    <div class='outter-box-div'>
        <ul class='nav-list'>
            <li class='nav-list-item'><a href="../index.html">Main</a></li>
            <li class='nav-list-item'><a href="./projects.html">Projects</a></li>
        </ul>
        <div class='resume-header-div'>
            <p class='text-header'>Resume</p>
        </div>
        <div>
            <ul class='projects-list'>
                <li><span color=#3895d3 style='font-size: 22px'>WordVenture:</span>  Oct 2018<br>
                    This was a choose-your-own-adventure program. My role  in this project was building the database for the story. 
                    JavaScript, MongoDB, and Mongoose were used to build the database.
                </li><br>
                <li><span color=#3895d3 style='font-size: 22px'>LiftBro:</span>  Oct 2018<br>
                    A pocket-workout app that allows the user to find workouts for key muscle groups.  
                    Javascript, React, CSS, and HTML were used to design the user interface.
                </li><br>
                <li><span color=#3895d3 style='font-size: 22px'>KnowThyself:</span>  Oct 2018 - Nov 2018<br>
                    A self-reflection application that offers daily writing prompts, quotes, authentication, and more.  
                    Dual authentication using Passport and OAuth was my focus.
                </li><br>
                <li><span color=#3895d3 style='font-size: 22px'>MiniGames:</span>  Nov 2018 - Dec 2018<br>
                    Hyper-causal games with messaging.  An Android application built with React-Native, Firebase, and MobX.  
                    This was a two person project so I spent a lot of time with the whole tech stack.
                </li><br>
                <li><span color=#3895d3 style='font-size: 22px'>Potluck Of The Minds:</span>  Jan 2018 - Current<br>
                    I am currently building a website using Javascript, HTML, CSS, and MySQL for a local quarterly event 
                    called Potluck of the Minds.
                </li><br>
            </ul>
        </div>
        <div class='resume-header-div'>
            <p class='text-header'>Currently</p>
        </div>
        <div>
            <p class='text-current'><span color=#3895d3 style='font-size: 22px'>OnXmaps, Missoula, MT - GIS Intern</span>  
                Nov 2018 - Current<br><br>
                I was brought on at OnXmaps to assist the GIS Data Acquisition Team with data transfer from a postgreSQL 
                to a postGIS database.  My duties have included writing .yaml configuration files in Python for the 
                standardization of raw data. During my time at onX I also assisted in the curation of a ML training set, 
                which required Python scripting.  Most recently, I have been tasked with automating our Error Report Process. 
                This includes but is not limited to: a custom Jira and Zendesk workflow consisting of multiple API calls, 
                manipulation of raw data, and SQL queries.
            </p>
        </div>
        <div class='resume-header-div'>
            <p class='text-header'>Previously</p>
        </div>
        <div>
            <p class='text-current'><span color=#3895d3 style='font-size: 22px'>Drum Coffee, Missoula, MT - Mngr/Roaster</span>  
                June 2016 - Aug 2018<br><br>
                I managed and roasted at Drum Coffee on 1000 E Broadway.  My commitment to roasting, and customer 
                satisfaction led our shop to supplying 4 grocery stores, 2 restaurants and hotel in the first year we 
                started roasting.
            </p>
        </div>
        <div class='resume-header-div'>
            <p class='text-header'>Education</p>
        </div>
        <div>
            <p class='text-current'><span color=#3895d3 style='font-size: 22px'>Montana Code School, Missoula, MT</span>  
                Junior Full-Stack Web Developer  Sept 2018 - Dec 2018<br><br>
                Most projects built during this program were with a MERN stack. <span color=#3895d3>MongoDB, Express, React, 
                    and Node.js</span>.
                I also experimented with <span color=#3895d3>React-Native, Passport, OAuth, Unity, MobX, Firebase, MySQL, and Python</span>.
                The use of Agile development and methodologies, as well as pair programming instilled the importance of
                communication, and team-work.
            </p>
            <p class='text-current'><span color=#3895d3 style='font-size: 22px'>University of Montana, Missoula, MT</span>  
                Classical Civilizations  Aug 2010 - May 2013<br><br>
                My studies revolved around all aspects of Ancient Greece and Rome. Language, History, Philosophy, Art, Literature.
                I minored in Ancient Greek.  Language and Philosophy was of particular interest to me.  Reading ancient texts in a
                native tounge unlocks a new appreciation for the writer, and the work. Some things can truly be lost in translation.
            </p>
        </div>
    </div>
    </div>
</body>
<script src="../index.js"></script>
</html>