<!DOCTYPE html>
<html lang="en" dir='ltr'>
<head>
    <meta charset="UTF-8">
    <title>Alison Morgan</title>
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60=" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Pontano+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../styles/tech_stack.css">
</head>
<body>
    <div class='nav-div'>
        <header class='nav-head'>
        </header>
    </div>
    <div class='main-div'>
        <div class='outter-box-div'>
            <ul class='nav-list'>
                <li class='nav-list-item'><a href="../index.html">Main</a></li>
                <li class='nav-list-item'><a>Time Wasters</a></li>
            </ul>
        </div>
        <div class='inner-box-div'>
            <div class='text-bio-div'>
            </div>
        </div>
    </div>
</body>
<script src="/index.js"></script>
</html>