.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 5%;
    font-family: 'Abel', sans-serif;
 }
 
 .nav-list-item{
     color: #3895d3;
     list-style: none;
     margin: 30px;
 }
 
 .outter-box-div{
     height: 500px;
     width: 80%;
     border: 20px solid#3895d3;
     margin-left: 8%;
     background-color: #FFFFFF;
 }
 
 a{
     color:#3895d3;
     text-decoration: none;
 }
 
 a:hover{
     color:#000000
 }
 
 
 
 @keyframes slidein {
     from {
         margin-left: 0%;
         width: 100%;
     }
     to {
       margin-left: 100%;
       width: 300%; 
     }
   }
 
 .inner-box-div{
     height: 300px;
     width: 90%;
     background-color: #FA7268;
     margin-left: auto;
     margin-right: auto;
     /* margin-left: auto;
     margin-right: auto; */
     margin-top: -30%;
     /* animation-fill-mode: forwards; */
     /* transition-property: width; */
     /* transition-duration: 2s; */
 }
 
 /* .inner-box-div:hover{ */
     /* animation: slidein 4s linear; */
     /* width: 50px; */
 /* } */